body {
    background-color: yellowgreen;
background-image:url('tlokik.jpg');
font-family: Comic Sans MS, Comic Sans, cursive;
}

.naglowek, audio{
    display: inline-block;
}

.naglowek{
padding-top: 50px;
font-size: 200%;
padding-left: 30.5%;
padding-right: 30%;
color: #fa6400;
}

td{
    width: 250px;
    height: 250px;
    border: 1px solid black;
    font-size: 50px;
    background-color: #FFFCF0;
    border-radius: 10px;
    text-align: center;
}

.prawas, .gra, .lewas{
    padding-top: 30px;
    display: inline-block;
}

.lewas{
    float: left;
    text-align: center;
    padding-left: 100px;
}

.prawas{
    float: right;
    text-align: center;
    padding-right: 100px;
}

.gra{
    margin-left: 21%;
}

h2{
    color: chocolate;
    border: 5px solid green;
    width: auto; ;
}
